
@font-face {
    font-family: 'Caros';
    src: url('https://cdn.awsli.com.br/2867/2867811/arquivos/cretype-caros-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Caros';
    src: url('https://cdn.awsli.com.br/2867/2867811/arquivos/cretype-caros.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Caros';
    src: url('https://cdn.awsli.com.br/2867/2867811/arquivos/cretype-caros-medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Caros';
    src: url('https://cdn.awsli.com.br/2867/2867811/arquivos/cretype-caros-extrabold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Caros';
    src: url('https://cdn.awsli.com.br/2867/2867811/arquivos/cretype-caros-black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

:root{
    --c1:#FC3D9D;
    --c2:#EB1528;
    --c3:#FFE2CE;
    --c4:#3F3C3C;
    /* PRIMARY */
    --primaryColor: #000000;
    --secondaryColor: #666;
    --buttonColor: #000;
    --bodyFontFamily: "Caros";
    --bodyFontWeight: 400;
    --bodyFontSize: 12px;
    
    /* TITLES */
    --titleFontFamily: "Caros";
    --titleFontWeight: 600;
    --titleFontSize: 24px;
    --titleFontTransform: uppercase;
    --titleFontColor: #000;

    /* MENU */
    --menuFontFamily: "Caros";
    --menuFontWeight: 800;
    --menuFontSize: 14px;
    --menuFontTransform: uppercase;
    --menuFontColor: #000;

    /* FOOTER */
    --footerFontFamily: "Caros";
    --footerFontWeight: 400;
    --footerFontSize: 14px;
    --footerFontTransform: normal;
    --footerFontColor: var(--c4);

    /* FOOTER TITLES */
    --footerTitleFontFamily: "Caros";
    --footerTitleFontWeight: 600;
    --footerTitleFontSize: 16px;
    --footerTitleFontTransform: normal;
    --footerTitleFontColor: #000;

    /* PRODUCT LISTING */
    --productFontFamily: "Caros";
    --productFontWeight: 500;
    --productFontSize: 14px;
    --productFontColor: #000;

    
    --productPriceFontFamily: "Caros";
    --productPriceFontWeight: 400;
    --productPriceFontSize: 14px;
    --productPriceColor:#000;
    
    --productPriceStrikeFontWeight: 300;
    --productPriceStrikeFontSize: 12px;
    --productPriceStrikeColor:var(--c4);  
}

#theme_header-logo{order: 2;}
#theme_header-menu{order: 1;}
#theme_header-functions-block{order: 3;}
.theme_benefitsStripe strong{
    font-size: 14px;
}

.listagem-item{
    text-align: center;
    --productFontSize: 14px;
    --productFontWeight:bold;
}
.listagem .listagem-item .preco-produto .preco-parcela{
    font-size: 12px;
}

.listagem .listagem-item .imagem-produto{
    border-radius: 5px;
    overflow: hidden;
}

.listagem .listagem-item .preco-produto .preco-parcela,
.listagem .listagem-item .preco-produto .preco-parcela *{
    color: var(--c4);
}

#rodape,
#rodape .theme_footer-main,
#rodape .institucional,
#rodape > div:last-child{
    background: var(--c3)!important;
}
#rodape > div:last-child{
    border-top: 1px solid #f2f2f2!important;
}
#rodape > div:last-child > .conteiner{
    padding: 1rem 15px;
}
#rodape .institucional{padding: 2rem 2rem 0rem 2rem;}
#barraNewsletter,#barraNewsletter .show-hide, #barraNewsletter .componente, #barraNewsletter.posicao-rodape .conteiner{
    background: transparent;
}
#barraNewsletter{
    box-shadow: 0px 0px 0px;
}
.theme_footer-newsletter{
    background: var(--c4);
    box-shadow: 0px 0px 0px;
    margin: 0;
    padding: 1rem 2rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-radius: 15px;
}
#theme_footer-content-social{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
}
#theme_footer-content-social *{
    color: #fff;
}
#barraNewsletter .conteiner{
    width: -webkit-fill-available;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 1rem!important;
}

#barraNewsletter .componente div.newsletter-cadastro.input-conteiner{
    background: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 0!important;
    width: 520px;
}
#barraNewsletter .componente div.newsletter-cadastro.input-conteiner input::placeholder{
    color: #fff;
    opacity: 1;
}
#barraNewsletter .componente div.newsletter-cadastro.input-conteiner input{
    background: transparent;
    color: #fff;
    
}
#barraNewsletter .componente .botao{
    border-radius: 0px;
    background: transparent;
}

#barraNewsletter .componente .interno-conteudo{
    display: flex;
    width: fit-content;
    max-width: 100%;
    gap: 2rem;
    align-items: center;
}

#barraNewsletter .componente .interno-conteudo .texto-newsletter{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    max-width: unset;
    white-space: normal;
    line-height: initial;
    padding: 0;
}

#barraNewsletter.posicao-rodape .conteiner{padding: 0;}